$delta-blue: #0087dc;
$delta-button-blue: #00A0E9;
$delta-green: #4caf50;
$delta-red: #EF5350;
$delta-black: #212121; //主要文字
$delta-dark-gray: #757575;//次要文字
$delta-silver: #adadad;
$delta-silver-white: #e0e0e0;
$delta-light-gray: #f0f0f0;//背景
$delta-gold: #FFD700;
